@import "./index.scss";

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $very-light-gray;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: $white;
    box-shadow: 0 0 0.1875rem 0 $dark-gray;
  }

  .search,
  .filter,
  .card {
    margin: 1rem;
    box-shadow: 0 0 0.125rem 0 $dark-gray;
    background-color: $white;
    border-radius: 0.25rem;
  }

  .search,
  .filter {
    padding: 0.5rem;
  }

  .search {
    svg {
      margin: 0 1rem;
    }

    input {
      width: 80%;
      border: 0;
    }
  }

  .filter {
    border: 0;
    background-color: unset;
    width: 42%;
    display: flex;
    justify-content: space-between;

    input {
      border: 0;
      background-color: unset;
    }
  }

  .card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 1rem 3rem;

    img {
      border-radius: 0.25rem 0.25rem 0 0;
      height: 100%;
      width: 100%;
    }

    .card-details {
      padding: 1rem;

      p,
      h3 {
        margin-block: 0.5rem;
      }

      p {
        font-weight: 600;
        span {
          font-weight: 300;
        }
      }
    }
  }
}
